/* Each page is split into 4 parts 1,2,3,4,5 from top to bottom */

* {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

img {
    max-width: 400px;
}

a {
    text-decoration: none;
    color: rgb(145, 4, 201);
}

.button:hover {
    background: rgb(7, 61, 48);
}

.photos a:hover {
    opacity: 0.5;
}

.button {
    background-color: rgb(112, 207, 117);
    padding: 15px 32px;
    font-size: 15px;
    border: none;
    color: #fff;
    border-radius: 3px;
}

.button a {
    color: #fff;
    display: inline;
    padding: 15px 32px;
    font-weight: 400;
    font-family: "Amatic SC", cursive;
    font-size: 26px;
    white-space: nowrap;
}

/* part 1 */

.top {
    background-color: rgb(14, 116, 91);
    color: rgb(255, 255, 255);
    padding: 10px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    border-bottom: dashed white 1px;
}

.header h1 {
    font-family: "Amatic SC", cursive;
    font-size: 40px;
    margin: 0;
    padding: 5px;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-size: 30px;
    margin: 0;
    padding: 10px;
    justify-content: space-around;
}

.header-links a {
    font-family: "Amatic SC", cursive;
    color: #fff;
}

.header-links a:hover {
    opacity: .60;
}

.intro {
    display: flex;
    justify-content: center;
}

.intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 50px;
    max-width: 70%;
}

.intro.text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    align-items: flex-start;
}

.intro-container img {
    margin: 15px;
    border: white solid 1pt;
    max-width: 100%;
    width: auto;
    height: auto;
}

/* part 2 */

.media {
    display: flex;
    justify-content: center;
}

.media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

.media-container h3 {
    color:rgb(7, 61, 48);
    font-family: "Amatic SC", cursive;
    font-size: 35px;
}

.media-container .photos {
    display: flex;
    align-items: center;
    padding: 10px;
}

.media-container .photos a {
    flex: 1;
    display: flex;
    flex-direction:  column;
    align-items: center;
    margin: 10px;
}

.media-container .photos img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.photos .text {
    text-align: center;
    color:rgb(145, 4, 201);
}

/* part 3 */

.container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 75px 0;
    margin: 30px 0;
}

.review {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    width: 60%;
    padding: 20px;
}

.quote.body {
    font-style: italic;
    font-size: 20px;
}

.quote.author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 16px;
}

.quote.trip-date {
    align-self: flex-end;
    font-size: 14px;
    margin-top: 0;
}

/* part 4 */

.book {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.book-container {
    display: flex;
    background-color: rgb(14, 116, 91);
    width: 50%;
    border-radius: 5pt;
    padding: 30px 50px;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    gap: 5px;
}

.book-container .content {
    display: flex;
    flex-direction: column;
    color:rgb(255, 255, 255);
}

.book-container h4, .book-container p {
    margin: 2px;
}

.book-container .button {
    background-color: rgb(14, 116, 91);
    border: solid white 1pt;
}

.book-container .button:hover {
    opacity: .5;
}

/* part 5 */

.footer {
    background-color: rgb(14, 116, 91);
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.footer p {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.747);
    font-size: 12px;
}